<h5>Si vous dépensez exactement X jetons, vous gagnez</h5>
<p>X est un nombre aléatoire entre 1 et 50. A chaque essai, vous saurez si vous avez dépensé trop de jetons ou trop peu de jetons</p>
<p> {{ result_message }} </p>
<p> jetons : {{ jetons }}</p>
<p *ngIf="gained!=0">vous venez de gagner {{ gained }} jetons</p>
<button (click)="add_money()">Gagner des jetons</button>
<button (click)="reset_money()">Jeter les jetons</button>
<button (click)="validate()">Valider</button>
<p *ngIf="tries!=default_tries">Essais restants {{ tries }}</p>